html { height: 100%; }
body  {
  background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color:rgb(110,110,110);
  -webkit-font-smoothing: antialiased;
}

.footer {
    color: rgb(230,230,230);
    font-size:14px;
}
.footer a {
    color: rgb(230,230,230);
    font-size:14px;
}